@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// 'Bai Jamjuree', sans-serif;
// 'Montserrat', sans-serif;
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bai Jamjuree", sans-serif;
}

body {
    background: url(../../images/main-bg.jpg) no-repeat fixed;
    width: 100%; height: 100%;
}

main {
    color: white;
}

//============== header =================//
.navbar {
    #navLogo {height: 40px; width: 40px;}
    .navbar-brand {
        margin-left: 10px;
        a {
            font-family: 'Bai Jamjuree', sans-serif;
            text-transform: uppercase; text-decoration: none;
            color: black;
        }
        font-weight: 700; font-size: 1.5rem;
    }
    .navbar-nav {
        li {
            margin-left: 5px; margin-right: 5px;
            a {
                font-size: 1.2rem;
            }
        }
        li:hover {
            border-radius: 10px;
            background-color: rgba($color: #e0e0e0, $alpha: 1.0);
        }
    }
}
//=======================================//

//============== Index - main =================//
.welcome {
    text-align: center;
    img {width: 400px; height: 325px;}
    h1 {font-size: 3rem; font-weight: 700;}
    h4 {font-weight: 700;}
    &__message {
        margin-top: 100px !important;
        background-color: rgba(0, 0, 0, 0.7);
        article {
            padding: 20px;
        }
        article:first-child {
            text-align: justify; line-height: 150%;
            button {
                margin-top: 35px; padding: 10px;
                width: 100%;
                background-color: rgba($color: #000000, $alpha: 0);
                border: solid 3px white; color: white; border-radius: 25px;
                transition: 0.2s linear;
            }
            button:hover {
                background-color: white; color: black;
            }
        }
    }
    &__features {
        margin-top: 75px !important; margin-bottom: 75px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        h2 {font-weight: 700; font-size: 3rem;}
        article { 
            margin-bottom: 30px;
            ul {
            height: 500px;
            margin-top: 30px;
            text-align: left;
            font-size: 1.2rem;
            line-height: 250%;
            overflow-y: scroll;
        }}
    }
}

.howToJoin {
    margin-top: 100px; text-align: center;
    h1 {font-size: 3rem; font-weight: 700;}

    &__guide {
        margin-top: 30px !important; margin-bottom: 75px; padding: 50px;
        background-color: rgba(0, 0, 0, 0.7);

        article:first-child {
            height: 575px;
            a {transition: 0.05s linear;}
            a:hover {text-shadow: 0 0 10px rgb(49, 231, 255);}
            h2 { text-transform: uppercase; font-weight: 700; }
            a { text-decoration: none !important; font-weight: 600; color: #00A3FF;}
            li { margin-top: 15px; }
            span {color: gray;}
            p {line-height: 30px;}
            overflow-y: scroll;
        }
        .sarnak {
            img {width: 100% !important; border-radius: 20px;}
        }
    }
}

.gettingStarted {
    margin-top: 100px; text-align: center;
    h1 {font-size: 3rem; font-weight: 700;}
    &__guide {
        margin-top: 30px !important; margin-bottom: 75px; padding: 50px;
        background-color: rgba(0, 0, 0, 0.7);
        article:first-child {
            height: 575px;
            div {margin-bottom: 30px;}
            h3 {font-weight: 700;}
            p {text-align: justify;}
            ul li {margin-top: 20px;}
            span, small {color: gray;}
            overflow-y: scroll;
        }
        .sarnak {
            img {width: 100% !important; border-radius: 20px;}
        }
    }
}

.rules {
    margin-top: 100px; text-align: center;
    h1 {font-size: 3rem; font-weight: 700;}
    &__guideline {
        margin-top: 30px !important; margin-bottom: 75px; padding: 50px;
        background-color: rgba(0, 0, 0, 0.7);
        article:first-child {
            height: 575px;
            div {margin-bottom: 30px;}
            h3 {font-weight: 700;}
            p {text-align: justify;}
            ul li {margin-top: 20px;}
            span, small {color: gray;}
            overflow-y: scroll;
        }
        .sarnak {
            img {width: 100% !important; border-radius: 20px;}
        }
    }
}

footer {
    background-color: white;
    padding-left: 200px !important; padding-right: 200px !important; padding-top: 20px;
    div:first-child {
        text-align: left;
        h2 { text-transform: uppercase; font-weight: bold;}
        p a { text-decoration: none;}
    }
    div:last-child {
        text-align: right;
        h2 {
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 1680px) {
    .howToJoin {
        &__guide {
            article:first-child {
                height: 505px;
            }
        }
    }
    .gettingStarted {
        &__guide {
            article:first-child {
                height: 505px !important;
            }
        }
    }

    .rules {
        &__guideline {
            article:first-child {
                height: 505px !important;
            }
        }
    }
    

    footer {
        padding-left: 50px !important; padding-right: 50px !important;
    }
}
@media screen and (max-width: 1440px) {
    .welcome {
        &__message {
            article:first-child {
                font-size: 14px;
                line-height: 150%;
            }
        }
    }
    .howToJoin {
        &__guide {
            article:first-child {
                height: 430px;
            }
        }
    }
    .gettingStarted {
        &__guide {
            article:first-child {
                height: 403px !important;
            }
        }
    }

    .rules {
        &__guideline {
            article:first-child {
                height: 420px !important;
            }
        }
    }

    footer {
        padding-left: 50px !important; padding-right: 50px !important;
    }
}

@media screen and (max-width: 1280px) {
    .welcome {
        &__message {
            article:first-child {
                font-size: 12px;
                line-height: 140%;
            }
        }
    }
    .howToJoin {
        &__guide {
            article:first-child {
                height: 375px;
            }
        }
    }
    .gettingStarted {
        &__guide {
            article:first-child {
                height: 375px !important;
            }
        }
    }

    .rules {
        &__guideline {
            article:first-child {
                height: 375px !important;
            }
        }
    }
    
    footer {
        padding-left: 50px !important; padding-right: 50px !important;
    }
    }

@media screen and (max-width: 1024px) {

    .welcome {
        &__message {
            article:first-child {
                font-size: 16px;
                line-height: 150%;
            }
        }
    }
footer {
    padding-left: 50px !important; padding-right: 50px !important;
}
}