@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bai Jamjuree", sans-serif;
}

body {
  background: url(../../images/main-bg.jpg) no-repeat fixed;
  width: 100%;
  height: 100%;
}

main {
  color: white;
}

.navbar #navLogo {
  height: 40px;
  width: 40px;
}
.navbar .navbar-brand {
  margin-left: 10px;
  font-weight: 700;
  font-size: 1.5rem;
}
.navbar .navbar-brand a {
  font-family: "Bai Jamjuree", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
.navbar .navbar-nav li {
  margin-left: 5px;
  margin-right: 5px;
}
.navbar .navbar-nav li a {
  font-size: 1.2rem;
}
.navbar .navbar-nav li:hover {
  border-radius: 10px;
  background-color: #e0e0e0;
}

.welcome {
  text-align: center;
}
.welcome img {
  width: 400px;
  height: 325px;
}
.welcome h1 {
  font-size: 3rem;
  font-weight: 700;
}
.welcome h4 {
  font-weight: 700;
}
.welcome__message {
  margin-top: 100px !important;
  background-color: rgba(0, 0, 0, 0.7);
}
.welcome__message article {
  padding: 20px;
}
.welcome__message article:first-child {
  text-align: justify;
  line-height: 150%;
}
.welcome__message article:first-child button {
  margin-top: 35px;
  padding: 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border: solid 3px white;
  color: white;
  border-radius: 25px;
  transition: 0.2s linear;
}
.welcome__message article:first-child button:hover {
  background-color: white;
  color: black;
}
.welcome__features {
  margin-top: 75px !important;
  margin-bottom: 75px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.welcome__features h2 {
  font-weight: 700;
  font-size: 3rem;
}
.welcome__features article {
  margin-bottom: 30px;
}
.welcome__features article ul {
  height: 500px;
  margin-top: 30px;
  text-align: left;
  font-size: 1.2rem;
  line-height: 250%;
  overflow-y: scroll;
}

.howToJoin {
  margin-top: 100px;
  text-align: center;
}
.howToJoin h1 {
  font-size: 3rem;
  font-weight: 700;
}
.howToJoin__guide {
  margin-top: 30px !important;
  margin-bottom: 75px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.7);
}
.howToJoin__guide article:first-child {
  height: 575px;
  overflow-y: scroll;
}
.howToJoin__guide article:first-child a {
  transition: 0.05s linear;
}
.howToJoin__guide article:first-child a:hover {
  text-shadow: 0 0 10px #31e7ff;
}
.howToJoin__guide article:first-child h2 {
  text-transform: uppercase;
  font-weight: 700;
}
.howToJoin__guide article:first-child a {
  text-decoration: none !important;
  font-weight: 600;
  color: #00A3FF;
}
.howToJoin__guide article:first-child li {
  margin-top: 15px;
}
.howToJoin__guide article:first-child span {
  color: gray;
}
.howToJoin__guide article:first-child p {
  line-height: 30px;
}
.howToJoin__guide .sarnak img {
  width: 100% !important;
  border-radius: 20px;
}

.gettingStarted {
  margin-top: 100px;
  text-align: center;
}
.gettingStarted h1 {
  font-size: 3rem;
  font-weight: 700;
}
.gettingStarted__guide {
  margin-top: 30px !important;
  margin-bottom: 75px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.7);
}
.gettingStarted__guide article:first-child {
  height: 575px;
  overflow-y: scroll;
}
.gettingStarted__guide article:first-child div {
  margin-bottom: 30px;
}
.gettingStarted__guide article:first-child h3 {
  font-weight: 700;
}
.gettingStarted__guide article:first-child p {
  text-align: justify;
}
.gettingStarted__guide article:first-child ul li {
  margin-top: 20px;
}
.gettingStarted__guide article:first-child span, .gettingStarted__guide article:first-child small {
  color: gray;
}
.gettingStarted__guide .sarnak img {
  width: 100% !important;
  border-radius: 20px;
}

.rules {
  margin-top: 100px;
  text-align: center;
}
.rules h1 {
  font-size: 3rem;
  font-weight: 700;
}
.rules__guideline {
  margin-top: 30px !important;
  margin-bottom: 75px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.7);
}
.rules__guideline article:first-child {
  height: 575px;
  overflow-y: scroll;
}
.rules__guideline article:first-child div {
  margin-bottom: 30px;
}
.rules__guideline article:first-child h3 {
  font-weight: 700;
}
.rules__guideline article:first-child p {
  text-align: justify;
}
.rules__guideline article:first-child ul li {
  margin-top: 20px;
}
.rules__guideline article:first-child span, .rules__guideline article:first-child small {
  color: gray;
}
.rules__guideline .sarnak img {
  width: 100% !important;
  border-radius: 20px;
}

footer {
  background-color: white;
  padding-left: 200px !important;
  padding-right: 200px !important;
  padding-top: 20px;
}
footer div:first-child {
  text-align: left;
}
footer div:first-child h2 {
  text-transform: uppercase;
  font-weight: bold;
}
footer div:first-child p a {
  text-decoration: none;
}
footer div:last-child {
  text-align: right;
}
footer div:last-child h2 {
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (max-width: 1680px) {
  .howToJoin__guide article:first-child {
    height: 505px;
  }

  .gettingStarted__guide article:first-child {
    height: 505px !important;
  }

  .rules__guideline article:first-child {
    height: 505px !important;
  }

  footer {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}
@media screen and (max-width: 1440px) {
  .welcome__message article:first-child {
    font-size: 14px;
    line-height: 150%;
  }

  .howToJoin__guide article:first-child {
    height: 430px;
  }

  .gettingStarted__guide article:first-child {
    height: 403px !important;
  }

  .rules__guideline article:first-child {
    height: 420px !important;
  }

  footer {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}
@media screen and (max-width: 1280px) {
  .welcome__message article:first-child {
    font-size: 12px;
    line-height: 140%;
  }

  .howToJoin__guide article:first-child {
    height: 375px;
  }

  .gettingStarted__guide article:first-child {
    height: 375px !important;
  }

  .rules__guideline article:first-child {
    height: 375px !important;
  }

  footer {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}
@media screen and (max-width: 1024px) {
  .welcome__message article:first-child {
    font-size: 16px;
    line-height: 150%;
  }

  footer {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
